{% extends "base.html" %} {% block content %}
<div class="container">
	<h1>Add Time Log</h1>
		
    <div>
	<form method="POST" action="/add_time">
			<div class="row">
				<div class="col-md-6">
				<label for="time worked">
						Start Date
					</label>
				<input type="date" class="form-control" name="startdate" value="{{time}}">

				
				</div>
			</div>
		<br/>
			<div class="row">
				<div class="col-md-6">
					<label>
						Start Time
					</label>
					<input type="time" class="form-control" name="starttime">
				</div>
				<div class="col-md-6">
	               <label>
						End Time
					</label>
					<input type="time" class="form-control" name="endtime">
				</div>
			</div>
		<br/>
				<div class="row">
					<div class="col-md-6">
						<label>
							Description
						</label>
						<input type="text" class="form-control" name="description">
					</div>
				</div>
		<br/>
	<div class="col-md-6">

	Select Project:
		<select name="projectslist" id="projectslist"> <!--48-52 is project drop down-->
			{% for row in row %}
  				<option value={{ row.projectName }}>{{ row.projectName }}</option>
			{% endfor %}
		</select>
		</div>
		<br/>
		<button type="submit" class="btn btn-primary">
					Submit
				</button>
	</form>
	</div>
</div>
{% endblock %}
