{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href='/static/stylesheet.css' />
<div class="container">
    <form action="/addexpense" method="POST">
        <div class="form-group">
            <label for="expenseName">Name: </label>
            <input type="text" name="expenseName" class="form-control" placeholder="Expense Name" required> </div>
        <div class="form-group">
            <label for="expenseAmount">Amount: </label>
            <input type="text" name="expenseAmount" class="form-control" placeholder="Amount" required> </div>
        <div class="form-group">
            <label for="expenseDescription">Description: </label>
            <input type="text" name="expenseDescription" class="form-control" placeholder="Description" required> </div>
        <div class="form-group">
        	<label for="projectName">Project Name:</label>
 			<select id="projectName" name="projectName">
    			{% for project in projectsList %}
    				<option value="{{project.projectName}}">{{project.projectName}}</option>
    			{% endfor %}
    		</select>
        <div class="form-group">
            <button type="submit" name="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}

