{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col1">
            <h2>Password Reset</h2>
            <p>Please Enter Email to Reset Password: </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                <div>
            {% endif %}
            {% endwith %}
            
            <form action="/forgotpassword" method="POST">
                <div class="info">
                    <label>Email</label>
                    <input type="email" name="email" class="info1" required> </div>
                <div class="info">
                    <input type="submit" name="submit" class="btn" value="Submit"> </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}