{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href"/static/stylesheet.css" />
<div class="container">
    <div class="row">
        <div class="col1">
            <h1>Password Reset</h1>
            <p>Please Enter Email to Reset Password: </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">Login page</a>.
                <div>
            {% endif %}
            {% endwith %}
            
            <form action="/forgotpassword" method="POST">
                <div class="info">
                    <label>Email: </label>
                    <input type="email" name="email" class="info1" required> </div>
                <div class="info">
                    <input type="submit" name="submit" class="btn" value="Submit"> </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
