{% extends "base.html" %} {% block content %}
<h2 class="title"> 
  Welcome!
</h2>
<h3 class="subtitle">
  DCAA-compliant time management system homepage
</h3>

<img src="/static/sap.jpg" alt="paper" style="width:400px;">

<p>DCAA stands for "Defense Contract Audit Agency". The DCAA is the government agency
responsible for auditing contracts from the Department of Defense. This web-app
allows for you to stay in compliance with all government laws and being prepared
for possible audits.</p>

{% endblock %}

