{% extends "base.html" %} {% block content %}
<h2 class="title"> 
  Welcome!
</h2>
<h3 class="subtitle">
  DCAA-compliant time management system homepage
</h3>

<img src="/static/sap.jpg" alt="paper" style="width:400px;">

<p>DCAA stands for "Defense Contract Audit Agency". The DCAA is the government agency
responsible for auditing contracts from the Department of Defense. This web-app
allows for you to stay in compliance with all government laws and being prepared
for possible audits.</p>

<h3 class="subtitle">
A brief explanation for how each user should use this application:
</h3>
<h3 class="subtitle">
Employers:
</h3>
<p>Your job is to invite your employees to this application, create projects, and
assign them to the projects. Over the course of time, you will evaluate and audit all
time logs, expense logs, and expense requests by your employees.

</p>
<h3 class="subtitle">
Employees:
</h3>
<p>you will create time logs and expense logs pertaining to all actions done under
specified assigned projects.

</p>
<h3 class="subtitle">
Auditor:
</h3>
<p>You will have an employer log in and navigate to the application audit log and
evaluate the data presented to make sure it's under audit protocol and following DCAA
compliance
</p>
{% endblock %}

