{% extends "base.html" %} {% block content %} 

<html lang="en">
  <head>
    <title>Add Employee</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheet.css" /> </head>
  </head>
  <body>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Add Employee
				</h1>
				        {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <p>{{ msg }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
			</div>
		</div>
	</div>
	<div class="row">

<div class="col-md-12">
		<div class="col-md-6">
			<form method="POST" action="/ManageProjects">
				<div class="form-group">
					<label for="Employee name">
						Add Employee By ID
					</label>
					<input type="text" class="form-control" name="add_employee_form" placeholder="Enter Employee ID">
				</div>
					<div class="col-md-6">
					 	<select name="projectslist" id="projectslist">
							{% for Tresult in Tresult %}
								<option value={{ Tresult.projectName }}>{{ Tresult.projectName }}</option>
							{% endfor %}
						</select>
					</div>
				<button type="submit" class="btn btn-primary">
					Add
				</button>
			</form>
		</div>
	</div>
  </body>
</html>
{% endblock %}
