{% extends "base.html" %} {% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
			        {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <p>{{ msg }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

<h2> Personal Information </h2> 

<table class="table table-striped">
        <thead>
            <tr class="w3-light-grey">
                <th>Name</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Pay Rate</th>
            </tr>
        </thead> {% for row in row %}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.emp_email}}</td>
            <td>{{row.jobTitle}}</td>
            <td>{{row.payRate}}</td>
        </tr> {% endfor %} </table>

{% endblock %}

