{% extends "base.html" %} {% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>Time Logs</h1>
			{% with messages = get_flashed_messages() %}
    		{% if messages %}
    		{% for msg in messages %}
    		<p>{{ msg }}</p>
    		{% endfor %}
    		{% endif %}
    		{% endwith %}
		</div>
	</div>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Project Name
						</th>
						<th>
							Employee Name
						</th>
						<th>
							Start Date
						</th>
						<th>
							Start Time
						</th>
						<th>
							End Time
						</th>
						<th>
							Description
						</th>
						<th>
							Options
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						{% for row in row %}
    				<tr>
        				<td>{{ row.projectName}}</td>
						<td>{{ row.employeeName}}</td>
        				<td>{{ row.startDate}}</td>
						<td>{{ row.startTime}}</td>
						<td>{{ row.endTime}}</td>
						<td>{{ row.description}}</td>
						<td><a href="{{ url_for('main.deleteTimelog', timelogid=row.TimeLogID)}}" class="btn-default sbt-sm">Delete</a></td>
    				</tr>
    					{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
{% endblock %}