{% extends "base.html" %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col1">
                <h2>Create a New Project</h2>
             {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <p>{{ msg }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
                <form method="POST" action="/createProject">
                    <div class="form-group">
                        <label>Enter New Project Name:</label>
                        <input type="text" name="projectNameForm" class="form-control" placeholder="New Project Name" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="add" class="btn btn-primary" value="Add New Project">Add New Project</button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}
