{% extends "base.html" %} 
{% block content %}
    <div class="row">
        <div class="col1">
            <h1>Invite an Employee</h1>
            <p class="paragraph">Please Enter Employee Information to Send an Invitation: </p> 
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
            <div class="notification"> 
                {{ messages[0] }}.
            </div>
            {% endif %} {% endwith %}
            <form action="/invite" method="POST">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" class="form-control" placeholder="Name of Employee" required> </div>
                <div class="form-group">
                    <label for="title">Job Title: </label>
                    <input type="text" name="title" class="form-control" placeholder="Job Title" required> </div>
                <div class="form-group">
                    <label for="payrate">Payrate: </label>
                    <input type="text" name="payrate" class="form-control" placeholder="Payrate" required> </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required> </div>
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}