{% extends "base.html" %} {% block content %}
    <div class="row">
        <div class="col1">
            <h2>Create an Account: </h2>
            <p class="paragraph">Please Enter Valid Information to Create an Account: </p> {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="notification"> {{ messages[0] }}.</a>.
                <div> {% endif %} {% endwith %}
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="text" name="name" class="form-control" placeholder="Company Name" required> </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <input type="email" name="email" class="form-control" placeholder="Email" required> </div>
                        <div class="form-group">
                            <label for="pwd">Password: </label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required> </div>
                        <div class="form-group">
                            <label for="cpwd">Confirm Password: </label>
                            <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password" required> </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary" value="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
       {% endblock %}